.mainbody{
    /* background-image: linear-gradient( #000000,#414141); */
    /* background-image: url("https://img.freepik.com/premium-photo/black-food-cooking-background-stone-texture-with-sea-salt-pepper-garlic-parsley-abstract-food-background-empty-space-text-can-be-used-food-posters-design-menu-top-view_253362-15861.jpg?w=2000"); */
    background-image: url("https://media.istockphoto.com/id/1165263525/photo/pizza-cooking-ingredients-and-empty-space-for-recipe.jpg?s=170667a&w=0&k=20&c=FspwZF3eO5EbgTHSh2JWKKJItPZaAFNc3xK2FllUt1Y=");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: auto;
    width: 100%;
    color: white;
}
.welcome{
    text-align: center;
    height: 20vh;
    /* background-color: burlywood; */
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    font-size: 2em;
}
.select{
    text-align: center;
    height: 10vh;
    /* background-color: burlywood; */
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    font-size: 2em;
}
.card{
    background: transparent;
    color: white;
    /* background-color: blue; */
    border: transparent;
}
.des{
    color: white;
}
.like:hover{
   color: red;
}
.share:hover{
    color: dodgerblue;
}
.showmore:hover{
    color: lawngreen;
}
.king1:hover{
    /* background-color: red; */
    color: yellow;
}
/* .searchbar{
    width: 100vw;
    justify-content: center;
    text-align: center;
    display: flex;
    /* background-color: aqua; */
/* } */
/* .form-control{
    width: 40vw;
/* } */  
