*{
    font-weight: 700;
    transition: 0.5s;
}
 #logininfo{
    text-align: center;
    margin: auto;
}
#gotoregister{
    text-align: center;
}
#legend{
    font-size: 20px;
}
fieldset{
    width: 85%;
    margin: auto;
}
.background{
    /* background-color: rgb(79, 82, 169); */
    /* background-image: linear-gradient(rgb(54, 53, 53),black); */
    /* background: rgb(238,174,202); */
/* background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
background-image: url("loginbg.jpg");
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
background-size: cover;
    height: 100vh;
}  
/* .background{
    color: white;
    background-image: url('537582.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
#email{
    color: white;
}
#email TextField{
    background-color: white;
}
#outlined-basic{
    color: white;
    background: transparent;
   
} */ 